.about-wrapper {
  width: 100%;
  height: 600px;
  background-size: cover;
  background-image: url("https://i.ibb.co/Y2S22F5/about-Jo-Mo.jpg");
  filter: grayscale(100%);
  background-repeat: no-repeat;
  background-blend-mode: overlay;

  .about-content-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .about-header {
      align-items: center;
    }
  }
}
