.about-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    border: 20px solid #36454f;
    border-top: 30px solid #36454f;
    border-bottom: 100px solid #36454f;
    border-radius: 10px;
  }
}
