html {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0;
  height: 100vh;
  // background-color: #87678d;
  // background: #8e6687;
  // background: -webkit-linear-gradient(bottom right, #8e6687, #c58a87);
  // background: -moz-linear-gradient(bottom right, #8e6687, #c58a87);

  background-color: whitesmoke;
}

.spacer {
  height: 300px;
}

a {
  color: black;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.imageContainer {
  border: 1px solid #444;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: 15px;
  text-align: center;
  span {
    display: block;
    width: 1000px;
    // margin-left: -450px; /* -(width-container width)/2 */
    img {
      display: inline-block;
    }
  }
}
