.carousel-wrapper {
  // height: 50vh;

  .carousel-item {
    border: 1rem solid red;
    height: 50vh;

    &.card-one {
      background-color: darkolivegreen;
    }
  }
  // .carousel-item {
  //   height: 100%;
  // }

  .carousel-inner {
    border-bottom: 1px solid black;
    box-shadow: 2px 5px 6px -2px rgba(0, 0, 0, 0.5);
  }
}
