.form-wrapper {
  width: 100%;
  height: auto;
  padding: 2rem;
  margin-top: 3rem;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: #b56576;
  box-shadow: 2px 5px 6px -2px rgba(0, 0, 0, 0.61);

  .form-input {
    width: 100%;
    height: 2rem;
    border: 1px solid #b56576;
    box-shadow: 2px 5px 6px -2px rgba(0, 0, 0, 0.61);
    background-color: #dbc9cc;
    border-radius: 5px;
  }

  .form-input-subject {
    width: 100%;
    height: 2rem;
    border: 1px solid #b56576;
    box-shadow: 2px 5px 6px -2px rgba(0, 0, 0, 0.61);
    background-color: #dbc9cc;
    border-radius: 5px;
  }

  .form-textarea {
    width: 100%;
    height: 5rem;
    border: 1px solid #b56576;
    box-shadow: 2px 5px 6px -2px rgba(0, 0, 0, 0.61);
    border-radius: 5px;
    background-color: #dbc9cc;
  }
  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgb(113, 94, 117);
    font-family: "Lobster Two", "cursive";
    font-size: 1.1rem;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    color: rgb(113, 94, 117);
    font-family: "Lobster Two", "cursive";
    font-size: 1.1rem;
  }
  :-ms-input-placeholder {
    /* IE 10+ */
    color: rgb(113, 94, 117);
    font-family: "Lobster Two", "cursive";
    font-size: 1.1rem;
  }
  :-moz-placeholder {
    /* Firefox 18- */
    color: rgb(113, 94, 117);
    font-family: "Lobster Two", "cursive";
    font-size: 1.1rem;
  }
}
