.home-links-wrapper {
  padding-bottom: 1.4rem;
  width: 100%;

  .home-link {
    padding: 0.5rem;
  }
}

.home-wrapper {
  overflow-x: hidden;
  display: grid;
  grid-template-areas: "carousel-wrapper" "home-nav-wrapper home-logo-wrapper";
}

.home-cards {
  .card-wrapper {
    border: 5px groove rgba(52, 78, 111, 0.36);
    border-radius: 0px 40px 0px 40px;
    background-color: #344e6f;
    width: 300px;
    margin: 2rem;
  }
  .about {
    font-family: "Lobster Two", cursive;
    font-size: 2.5rem;
    text-align: center;
    color: #344e6f;
    width: 100%;
    padding: 1rem;
    margin: 1rem;
    background-color: #caa6ab;
    border: 5px groove rgba(181, 101, 118, 0.3);
    border-radius: 0px 40px 0px 40px;
  }
}
