// JoMo 1
$blue: #355070;
$blueTwo: #213145;
$blueThree: #0d141c;
$violet: #6d597a;
$raspberry: #b56576;
$carmine: #e56b6f;
$tumbleweed: #eaac8b;
$palePink: #fdf4f5;
// JoMo 2
$antiqueBrass: #cb997e;
$darkByzantium: #713e5a;
$champagnePink: #ffe8d6;
$feldgrau: #506c64;
$englishViolet: #442b48;
$vine: #68705c;
// JoMo 3
$purpleNavy: #424874;
$platinum: #e9ebeb;
$antiqueBronze: #65632d;
$viridianGreen: #429397;
$copperCrayola: #d98768;
